
    <table>
        <thead>
            <tr>
                <th></th>
                <th>Nombre</th>
                
            </tr>
        </thead>
        <tbody>
            <tr *ngFor  ="let client for clientList">
                <td>{{Cliente.id}}</td>
                <td>{{Cliente.nombre}}</td>
                <td><button class="btn_ver" (click)="delete(client.id)">Eliminar</button></td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td><input id="nombre"></td>
                <td><select  id="producto"><option *ngFor ="let product of productList" [ngValue]="product.id"> {{product.nombre}}</option></select></td>
            </tr>
        </tfoot>

    </table>

    <ng-modal #view let-modal>
        <input class="input_id">
        <input class="input_nombre">
    </ng-modal> 
    

