<form  [formGroup] ="clientForm ">
    <div class="Contenedor">
        <h2>Add Client</h2>
        <div class="input_id">
            <input formControlName ="client_id" class="formControl" maxlength="8">
            <p *ngIf = "client_id.error.required">Campo obligatorio</p>
            <p *ngIf = "client_id.error.pattern">Minimo 8 numeros</p>
            <p *ngIf = "client_id.error.idTaken">ID ya existente</p>
        </div>

        <div class="input_nombre">
            <input formControlName = "client_name" class="formControl">
            <p *ngIf = "client_name.error.required">Campo obligatorio</p>
        </div>
    </div>

</form>